/* CSS Reset */
@import "base/reset";

/* Core variables */
@import "base/vars";

/* Fonts */
@import "base/fonts";

body {
  font-family: "Roboto", -apple-system, 'Segoe UI', 'Oxygen',
  'Ubuntu', sans-serif;
  background-color: white;
}

.container-page {
  display: block;
  max-width: 1440px;
  background-color: white;
  height: 1024px;
  // background-image: url(../assets/svg/senla_man.svg);
  background-repeat: no-repeat;
  background-position: right 5px bottom 71px;
  padding-top: 22px;
  padding-left: 23px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: $not-active;
}


@media screen and (max-width: 910px) {
  .container-page {
    background-size: 100%;
  }

}
